<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="DT Test Suite">
    <test verbose="2" preserve-order="true" name="D:/Project">
        <classes>
            <class name="LoginPageTest"></class>
            <class name="tradePlaceOrderBuyTest"></class>
<!--            <class name="TradeOrderListTest"></class>-->
<!--            <class name="TradeOrderSearchTest"></class>-->
        </classes>
    </test>
</suite>